.users .rectangle-111 {
  background: var(--tertiary, #5E5E5E);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 40px;
}
.users .vit-delivery-dost {
  margin: 0 30px 0px 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  color: var(--primary, #F49B33);
}
.users .vector-1 {
  width: 7.5px;
  height: 25px;
}
.users .vector-2 {
  opacity: 0.5;
  background: #F0AB00;
  width: 7.5px;
  height: 25px;
}
.users .vector {
  opacity: 0.5;
  width: 7.5px;
  height: 25px;
}
.users .container-17 {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 2.5px;
  width: 27.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-3 {
  opacity: 0.25;
  position: absolute;
  right: 7.5px;
  bottom: 0px;
  width: 12.5px;
  height: 25px;
}
.users .uimgrids {
  position: relative;
  margin: 0 10.3px 29px 10.3px;
  display: flex;
  width: 30px;
  box-sizing: border-box;
}
.users .group-1 {
  width: 23.8px;
  height: 25px;
}
.users .icon-parktable-report {
  margin: 0 12.1px 16.5px 12.1px;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.users .rectangle-41 {
  border-radius: 10px;
  background: var(--tertiary, #5E5E5E);
  margin-bottom: 27px;
  width: 48px;
  height: 48px;
}
.users .ellipse-3 {
  border-radius: 4.5px;
  background: #B26D3C;
  width: 9px;
  height: 9px;
}
.users .group-22 {
  margin: 0 19px 36px 19px;
  display: flex;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.users .vector-7 {
  width: 24px;
  height: 26px;
}
.users .material-symbolsfood-bank-rounded {
  margin: 0 12px 26px 12px;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.users .gridiconsuser-add {
  margin: 0 9px 24px 9px;
  width: 30px;
  height: 30px;
}
.users .line-3 {
  opacity: 0.5;
  background: #F49B33;
  margin: 0 2px 23px 2px;
  width: 44px;
  height: 0px;
}
.users .power-off-1 {
  background: url('../assets/images/power_off_1.png') 50% / cover no-repeat;
  margin: 0 9px;
  width: 30px;
  height: 30px;
}
.users .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 48px;
  height: fit-content;
  box-sizing: border-box;
}
.users .group {
  width: 25px;
  height: 17.5px;
}
.users .majesticonsusers {
  position: absolute;
  left: 50%;
  top: 138.3px;
  translate: -50% 0;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.users .frame-8263 {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
  background: #FFFFFF;
  position: relative;
  margin-right: 7px;
  display: flex;
  padding: 26.5px 16px 0 16px;
  width: 908px;
  height: 80px;
  box-sizing: border-box;
}
.users .rectangle-116 {
  border-radius: 10px;
  background: var(--primary, #F49B33);
  margin: 120px 21px 696px 0;
  width: 92px;
  height: 10px;
}
.users .search-name {
  margin: 2.3px 6px 2.6px 0;
  display: inline-block;
  width: 65px;
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--tertiary, #5E5E5E);
}
.users .vector-8 {
  width: 16.9px;
  height: 16.9px;
}
.users .risearch-line {
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .group-8343 {
  border-radius: 5px;
  border: 2px dashed #DFDFDF;
  background: #FFFFFF;
  position: relative;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14.7px 16.4px 13.4px 15px;
  width: 45px;
  box-sizing: border-box;
}
.users .filter {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white, #FFFFFF);
}
.users .group-8145 {
  border-radius: 4px;
  background: #F49B33;
  position: relative;
  margin: 3px 0 2px 0;
  display: flex;
  padding: 8px 0 8px 0.5px;
  width: 126px;
  height: fit-content;
  box-sizing: border-box;
}
.users .container-10 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 408px;
  box-sizing: border-box;
}
.users .checkbox {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .name {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #0F1419;
}
.users .stable-table-cell {
  display: flex;
  box-sizing: border-box;
}
.users .mobile-no {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #0F1419;
}
.users .stable-table-cell-1 {
  display: flex;
  box-sizing: border-box;
}
.users .email-address {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #0F1419;
}
.users .stable-table-cell-2 {
  display: flex;
  box-sizing: border-box;
}
.users .date-joined {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #0F1419;
}
.users .stable-table-cell-3 {
  display: flex;
  box-sizing: border-box;
}
.users .total-savings {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #0F1419;
}
.users .stable-table-cell-4 {
  display: flex;
  box-sizing: border-box;
}
.users .total-bookings {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #0F1419;
}
.users .stable-table-cell-5 {
  display: flex;
  box-sizing: border-box;
}
.users .status {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #0F1419;
}
.users .stable-table-cell-6 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  height: fit-content;
  box-sizing: border-box;
}
.users .stable-table-row {
  background: #FFFFFF;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  padding: 10.5px 0 10.5px 20px;
  width: 1520px;
  box-sizing: border-box;
}
.users .checkbox-1 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .buzz {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-7 {
  display: flex;
  box-sizing: border-box;
}
.users .container {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-8 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-9 {
  display: flex;
  box-sizing: border-box;
}
.users .container-1 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-10 {
  display: flex;
  box-sizing: border-box;
}
.users .container-2 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-11 {
  display: flex;
  box-sizing: border-box;
}
.users .container-3 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-12 {
  display: flex;
  box-sizing: border-box;
}
.users .deleted {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #ED4C5C;
}
.users .stable-table-cell-13 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-14 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-5 {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-9 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-1 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-2 {
  border-radius: 3px;
  border: 1px solid var(--secondary, #2B2B2B);
  background: var(--primary, #F49B33);
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .dustin {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-15 {
  display: flex;
  box-sizing: border-box;
}
.users .container-4 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-16 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-1 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-17 {
  display: flex;
  box-sizing: border-box;
}
.users .container-5 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-18 {
  display: flex;
  box-sizing: border-box;
}
.users .container-6 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-19 {
  display: flex;
  box-sizing: border-box;
}
.users .container-7 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-20 {
  display: flex;
  box-sizing: border-box;
}
.users .active {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--green-2, #27AE60);
}
.users .stable-table-cell-21 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-1 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-22 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-16 {
  display: flex;
  flex-direction: row;
  width: 1370.7px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-10 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-1 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-2 {
  border: 1px solid #FFE2C0;
  background: #FFF9F1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-3 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .mark {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-23 {
  display: flex;
  box-sizing: border-box;
}
.users .container-8 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-24 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-2 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-25 {
  display: flex;
  box-sizing: border-box;
}
.users .container-9 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-26 {
  display: flex;
  box-sizing: border-box;
}
.users .container-10 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-27 {
  display: flex;
  box-sizing: border-box;
}
.users .container-11 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-28 {
  display: flex;
  box-sizing: border-box;
}
.users .active-1 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--green-2, #27AE60);
}
.users .stable-table-cell-29 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-2 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-30 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-13 {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-11 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-2 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-3 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-4 {
  border-radius: 3px;
  border: 1px solid var(--secondary, #2B2B2B);
  background: var(--primary, #F49B33);
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .dustin-1 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-31 {
  display: flex;
  box-sizing: border-box;
}
.users .container-12 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-32 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-3 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-33 {
  display: flex;
  box-sizing: border-box;
}
.users .container-13 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-34 {
  display: flex;
  box-sizing: border-box;
}
.users .container-14 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-35 {
  display: flex;
  box-sizing: border-box;
}
.users .container-15 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-36 {
  display: flex;
  box-sizing: border-box;
}
.users .active-2 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--green-2, #27AE60);
}
.users .stable-table-cell-37 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-3 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-38 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-4 {
  display: flex;
  flex-direction: row;
  width: 1370.7px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-12 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-3 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-4 {
  border: 1px solid #FFE2C0;
  background: #FFF9F1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-5 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .cynthia {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-39 {
  display: flex;
  box-sizing: border-box;
}
.users .container-16 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-40 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-4 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-41 {
  display: flex;
  box-sizing: border-box;
}
.users .container-17 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-42 {
  display: flex;
  box-sizing: border-box;
}
.users .container-18 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-43 {
  display: flex;
  box-sizing: border-box;
}
.users .container-19 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-44 {
  display: flex;
  box-sizing: border-box;
}
.users .inactive {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--tertiary, #5E5E5E);
}
.users .stable-table-cell-45 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-4 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-46 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-14 {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-13 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-4 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-5 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-6 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .cynthia-1 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-47 {
  display: flex;
  box-sizing: border-box;
}
.users .container-20 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-48 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-5 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-49 {
  display: flex;
  box-sizing: border-box;
}
.users .container-21 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-50 {
  display: flex;
  box-sizing: border-box;
}
.users .container-22 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-51 {
  display: flex;
  box-sizing: border-box;
}
.users .container-23 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-52 {
  display: flex;
  box-sizing: border-box;
}
.users .deleted-1 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #ED4C5C;
}
.users .stable-table-cell-53 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-5 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-54 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-9 {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-14 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-5 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-6 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-7 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .cynthia-2 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-55 {
  display: flex;
  box-sizing: border-box;
}
.users .container-24 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-56 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-6 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-57 {
  display: flex;
  box-sizing: border-box;
}
.users .container-25 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-58 {
  display: flex;
  box-sizing: border-box;
}
.users .container-26 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-59 {
  display: flex;
  box-sizing: border-box;
}
.users .container-27 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-60 {
  display: flex;
  box-sizing: border-box;
}
.users .active-3 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--green-2, #27AE60);
}
.users .stable-table-cell-61 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-6 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-62 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-8 {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-15 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-6 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-7 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-8 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .cynthia-3 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-63 {
  display: flex;
  box-sizing: border-box;
}
.users .container-28 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-64 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-7 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-65 {
  display: flex;
  box-sizing: border-box;
}
.users .container-29 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-66 {
  display: flex;
  box-sizing: border-box;
}
.users .container-30 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-67 {
  display: flex;
  box-sizing: border-box;
}
.users .container-31 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-68 {
  display: flex;
  box-sizing: border-box;
}
.users .inactive-1 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--tertiary, #5E5E5E);
}
.users .stable-table-cell-69 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-7 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-70 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-2 {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-16 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-7 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-8 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-9 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .cynthia-4 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-71 {
  display: flex;
  box-sizing: border-box;
}
.users .container-32 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-72 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-8 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-73 {
  display: flex;
  box-sizing: border-box;
}
.users .container-33 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-74 {
  display: flex;
  box-sizing: border-box;
}
.users .container-34 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-75 {
  display: flex;
  box-sizing: border-box;
}
.users .container-35 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-76 {
  display: flex;
  box-sizing: border-box;
}
.users .active-4 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--green-2, #27AE60);
}
.users .stable-table-cell-77 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-8 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-78 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-7 {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-17 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-8 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-9 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-10 {
  border-radius: 3px;
  border: 1px solid var(--secondary, #2B2B2B);
  background: var(--primary, #F49B33);
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .dustin-2 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-79 {
  display: flex;
  box-sizing: border-box;
}
.users .container-36 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-80 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-9 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-81 {
  display: flex;
  box-sizing: border-box;
}
.users .container-37 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-82 {
  display: flex;
  box-sizing: border-box;
}
.users .container-38 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-83 {
  display: flex;
  box-sizing: border-box;
}
.users .container-39 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-84 {
  display: flex;
  box-sizing: border-box;
}
.users .active-5 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--green-2, #27AE60);
}
.users .stable-table-cell-85 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-9 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--secondary, #2B2B2B);
}
.users .stable-table-cell-86 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-10 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-1 {
  display: flex;
  flex-direction: row;
  width: 1370.7px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-18 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-9 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-10 {
  border: 1px solid #FFE2C0;
  background: #FFF9F1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-11 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .cynthia-5 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-87 {
  display: flex;
  box-sizing: border-box;
}
.users .container-40 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-88 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-10 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-89 {
  display: flex;
  box-sizing: border-box;
}
.users .container-41 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-90 {
  display: flex;
  box-sizing: border-box;
}
.users .container-42 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-91 {
  display: flex;
  box-sizing: border-box;
}
.users .container-43 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-92 {
  display: flex;
  box-sizing: border-box;
}
.users .deleted-2 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: #ED4C5C;
}
.users .stable-table-cell-93 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-10 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-94 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-11 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container-15 {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-19 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-10 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-11 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .checkbox-12 {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #FFFFFF content-box, linear-gradient(0deg, #C8C8C8, #979797) border-box;
  border: 1px solid transparent;
  margin: 2.5px 20px 2.5px 0;
  width: 14px;
  height: 14px;
}
.users .cynthia-6 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-95 {
  display: flex;
  box-sizing: border-box;
}
.users .container-44 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-96 {
  display: flex;
  box-sizing: border-box;
}
.users .bob-smithgmail-com-11 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-97 {
  display: flex;
  box-sizing: border-box;
}
.users .container-45 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-98 {
  display: flex;
  box-sizing: border-box;
}
.users .container-46 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-99 {
  display: flex;
  box-sizing: border-box;
}
.users .container-47 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-100 {
  display: flex;
  box-sizing: border-box;
}
.users .inactive-2 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 700;
  font-size: 13px;
  line-height: 1.462;
  color: var(--tertiary, #5E5E5E);
}
.users .stable-table-cell-101 {
  display: flex;
  box-sizing: border-box;
}
.users .see-profile-11 {
  overflow-wrap: break-word;
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.462;
  color: #333333;
}
.users .stable-table-cell-102 {
  display: flex;
  box-sizing: border-box;
}
.users .stable-table-grid-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1446px;
  box-sizing: border-box;
}
.users .container {
  display: flex;
  flex-direction: row;
  width: 1369.5px;
  height: fit-content;
  box-sizing: border-box;
}
.users .vector-20 {
  width: 13.3px;
  height: 15px;
}
.users .material-symbolsdelete-forever-sharp-11 {
  margin: 2px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.users .stable-table-row-12 {
  border: 1px solid #FFE2C0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20.5px 23.3px 20.5px 20px;
  width: 1560px;
  box-sizing: border-box;
}
.users .user-table {
  box-shadow: 0px 45px 112px 0px rgba(0, 0, 0, 0.06), 0px 22.8px 48.8px 0px rgba(0, 0, 0, 0.041), 0px 9px 18.2px 0px rgba(0, 0, 0, 0.03), 0px 2px 6.5px 0px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  background: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1560px;
  box-sizing: border-box;
}
.users .rectangle-115 {
  border-radius: 10px;
  background: var(--primary, #F49B33);
  margin: 0 39px;
  align-self: flex-start;
  width: 92px;
  height: 10px;
}
.users .container-12 {
  margin: 17px 0 48px 0;
  display: flex;
  flex-direction: column;
  width: 1560px;
  height: fit-content;
  box-sizing: border-box;
}
.users .container-3 {
  display: flex;
  flex-direction: row;
  width: 1678px;
  box-sizing: border-box;
}
.users .container-11 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1678px;
  height: fit-content;
  box-sizing: border-box;
}
.users {
  background: #F6F6F6;
  display: flex;
  padding-left: 0px;
  width: 946px;
  box-sizing: border-box;
}
